### Data Refactor

1차 시도에서 데이터 수집 이후에 학습을 진행했을 때, 크게 진전되는 모습을 보이지 않았다. 아무래도 단변량 데이터이다 보니 그런 것 같기도 하고, 제목과 조회수 간의 상관관계가 그렇게 크지 않은 것 같다는 피드백도 있었다. 게시글의 본문을 추가로 수집하여 데이터를 수정한다.

In [102]:
import pandas as pd

df_game = pd.read_csv("./data/renewal_dataset_game.csv")
df_game

,title,content,views
0,급해요 해결하였습니다,아니 왜 성문이랑 성벽이 사라졌지뱍이랑 문을 세우고 주민집을 이사했는데 사라졌네요창...,54
1,동숲 나눔후기,마일 나눔 이벤트 롤드컵 우승 팀을 맞춰라 늘푸른우리님 안녕하세요 주대님들은 롤이...,20
2,가입인사,사용예정 닌텐도 기기 스위치 모동숲 에디션 동물의 숲 플레이 기간 시간 이상 ...,10
3,완료,안전모 구해용,25
4,완료,사진 클릭시 소개글로 이동합니다 소요시간대략 시간 분시간바로 방문 가능하신 한분께 ...,104
...,...,...,...
2077,제가가입인사를 늦게했어요 ㅠㅠ,httpcafenavercomwtac 클릭WTAC총공지는 필독입니다글양식을 지우시면...,3
2078,묘목 팁,안녕하세요 creat 입니다음많은 사람들이 묘목에게 물을 주어야 한다고 알고있는것 ...,297
2079,유우같은회원WTAC에있을까요,저 같은 회원 WTAC란 공간에 서식하고 있을까요이봐킴가을양 알다시피 저 동숲칩 새...,56
2080,개굴스위트 뭐야 ㄱ,방금전에 경고 번으로 강탈당했는데갑자기 강탈시키기가 어딨어ㄱ통보해주고 상냥하게강탈되...,29
2081,놀동숲 질문,직적만든 만화는 무슨 게시판에 올려야적절한거죠몰라서 올립니다빠른 답변 바래요,26

In [103]:
# 완료 와 같은 제목은 삭제한다.
df_game = df_game.loc[df_game['title'] != "완료"].reset_index(drop = True)

# 결측치 및 중복값 확인
df_game.info() # 본문 내용에 38개의 결측치 확인
df_game = df_game.dropna(subset=['content'], axis = 0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048 entries, 0 to 1047
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    1048 non-null   object
 1   content  1010 non-null   object
 2   views    1048 non-null   object
dtypes: object(3)
memory usage: 24.7+ KB

In [104]:
print(df_game['content'].duplicated().sum().sum()) # 49개의 중복값 확인
df_game = df_game.drop_duplicates(subset=['content'], keep='first').reset_index(drop=True)
df_game

12

                title                                            content views
0         급해요 해결하였습니다  아니 왜 성문이랑 성벽이 사라졌지뱍이랑 문을 세우고 주민집을 이사했는데 사라졌네요창...    54
1             동숲 나눔후기   마일 나눔 이벤트 롤드컵 우승 팀을 맞춰라 늘푸른우리님 안녕하세요 주대님들은 롤이...    20
2                가입인사   사용예정 닌텐도 기기  스위치 모동숲 에디션 동물의 숲 플레이 기간  시간 이상 ...    10
3                  후기  httpscafenavercomwtactcsharedlink 크리스마스 마감선 선물...    25
4                  당발  httpscafenavercomwtactcsharedlink 편의점 개업 총 마일 ...   134
..                ...                                                ...   ...
993  제가가입인사를 늦게했어요 ㅠㅠ  httpcafenavercomwtac 클릭WTAC총공지는 필독입니다글양식을 지우시면...     3
994              묘목 팁  안녕하세요 creat 입니다음많은 사람들이 묘목에게 물을 주어야 한다고 알고있는것 ...   297
995   유우같은회원WTAC에있을까요  저 같은 회원 WTAC란 공간에 서식하고 있을까요이봐킴가을양 알다시피 저 동숲칩 새...    56
996        개굴스위트 뭐야 ㄱ  방금전에 경고 번으로 강탈당했는데갑자기 강탈시키기가 어딨어ㄱ통보해주고 상냥하게강탈되...    29
997            놀동숲 질문         직적만든 만화는 무슨 게시판에 올려야적절한거죠몰라서 올립니다빠른 답변 바래요    26

[998 rows x 3 columns]

In [105]:
df = pd.read_csv("./data/renewal_dataset1.csv")
df

,title,content,views
0,출첵,출첵,7
1,출석합니다,출석합니다좋은밤 되세요,7
2,투명페인트는 뭘로 지워야할까요,붓펜 작업중 엉뚱한 곳에 묻어서굳었네요,79
3,전동 압분 한번 사봤습니다,거의 열흘 전에 택배 온거 같은데이제 꺼내보네요ㅋㅋㅋ 크기에 한번 놀라고 헤드 부...,340
4,역시 차는 광이 나야,무슨 차던 제대로 번쩍이는 차에 한 번 더 눈길이 갑니다ㅎㅎ유일하게 꾸준히 재밌게 ...,461
...,...,...,...
1188,가입인사,아래 양식에 맞게 가입인사를 작성하여 주시면 감사하겠습니다 아래 기재된 내용은 샘플...,24
1189,자유게시판,자이노도 이제 풀 라인업 만나보실수 있겠네요린스몰httpwwwrinsemallcom...,627
1190,자유게시판,차를 세차할때마다 매트를 같이 빨고 있습니다저의 차의 경우 천인데 처음에 매트를 빨...,159
1191,가입인사,아래 양식에 맞게 가입인사를 작성하여 주시면 감사하겠습니다 아래 기재된 내용은 샘플...,23
1192,자유게시판,이번주 정말 머 되는일이 없습니당오늘 세차하면서 발견한건데요ㅎㅎ휠에 크랙이 쫘악ㅎㅎ...,116

In [106]:
# 게시판 명만 남아있는 부분들은 삭제한다.
df = df.loc[df['title'] != "자유게시판"].reset_index(drop = True)
df = df.loc[df['title'] != "가입인사"].reset_index(drop = True)
df

,title,content,views
0,출첵,출첵,7
1,출석합니다,출석합니다좋은밤 되세요,7
2,투명페인트는 뭘로 지워야할까요,붓펜 작업중 엉뚱한 곳에 묻어서굳었네요,79
3,전동 압분 한번 사봤습니다,거의 열흘 전에 택배 온거 같은데이제 꺼내보네요ㅋㅋㅋ 크기에 한번 놀라고 헤드 부...,340
4,역시 차는 광이 나야,무슨 차던 제대로 번쩍이는 차에 한 번 더 눈길이 갑니다ㅎㅎ유일하게 꾸준히 재밌게 ...,461
...,...,...,...
1162,앞범퍼 하단 복원해보았습니다,처음가보는 건물앞에 대다가 앞에 계단에 돌진해버렸습니다ㅠㅠ지난 토요일에 작업했는데 ...,1196
1163,심각한 워터 스팟,오늘 제 명의로 되어있는 SLK 딥블루를 작업을 하다가 보류 시켜놨습니다차 관리는 ...,744
1164,건스프레이 용량이 궁금합니다,디테일링 초보입니다apc 희석하여 사용할건스프레이용으로 사용할 용량은 크기가 어떤것...,102
1165,카툰유머,NaN,323
1166,먼지떨이 극세사가 좋아요 닭털이 좋아요,이제 비도 잘 안오고 먼지떨이를 사용해 볼라고 합니다여지껏 안쓰고 달리면서 날렸거든...,607

In [107]:
df.info() # 19건의 결측치 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    1167 non-null   object
 1   content  1148 non-null   object
 2   views    1167 non-null   int64
dtypes: int64(1), object(2)
memory usage: 27.5+ KB

In [108]:
# 위에서 적용했던 방법 그대로 결측치 제거, 중복값 처리
df = df.dropna(subset=['content'], axis = 0)
print(df['content'].duplicated().sum()) # 49개의 중복값 확인
df = df.drop_duplicates(subset=['content'], keep='first').reset_index(drop=True)
df

15

,title,content,views
0,출첵,출첵,7
1,출석합니다,출석합니다좋은밤 되세요,7
2,투명페인트는 뭘로 지워야할까요,붓펜 작업중 엉뚱한 곳에 묻어서굳었네요,79
3,전동 압분 한번 사봤습니다,거의 열흘 전에 택배 온거 같은데이제 꺼내보네요ㅋㅋㅋ 크기에 한번 놀라고 헤드 부...,340
4,역시 차는 광이 나야,무슨 차던 제대로 번쩍이는 차에 한 번 더 눈길이 갑니다ㅎㅎ유일하게 꾸준히 재밌게 ...,461
...,...,...,...
1128,그릿가드 호환 질문입니다,내일 서신프라코에서 L짜리 버킷 두개를 사려고합니다그릿가드는 꼭 필요할것같아서 케가...,107
1129,앞범퍼 하단 복원해보았습니다,처음가보는 건물앞에 대다가 앞에 계단에 돌진해버렸습니다ㅠㅠ지난 토요일에 작업했는데 ...,1196
1130,심각한 워터 스팟,오늘 제 명의로 되어있는 SLK 딥블루를 작업을 하다가 보류 시켜놨습니다차 관리는 ...,744
1131,건스프레이 용량이 궁금합니다,디테일링 초보입니다apc 희석하여 사용할건스프레이용으로 사용할 용량은 크기가 어떤것...,102
1132,먼지떨이 극세사가 좋아요 닭털이 좋아요,이제 비도 잘 안오고 먼지떨이를 사용해 볼라고 합니다여지껏 안쓰고 달리면서 날렸거든...,607

In [109]:
df_ssy = pd.DataFrame(pd.read_csv("./data/contents3.csv").values, columns=['title', 'content', 'views'])
df_ssy = df_ssy.dropna(subset=['content'], axis = 0)
df_ssy = df_ssy.drop_duplicates(subset=['content'], keep='first').reset_index(drop=True)

In [110]:
df_ssy

,title,content,views
0,혹시 그런적 없으신가요,매장에서 ek으로 내리는 드립보다 그 원두 사와서 집에 코니컬로 드립 내리는 게 맛...,143
1,리브레 약배전은 없나요ㅠ,거의 약배전러버인데 블렌드엔 읎네여 약배전라떼 ㅠ,88
2,안녕하세요 가입인사 드립니다,CAFE ESPRESSO 는 홈바리스타와 홈카페에 관심있는 유저들의 모임입니다 아래...,9
3,DFV 왔습니다,딜코의 광군절 이벤트로 구입한 DFV 제품이 도착했습니다 딜코사의 어이없는 전산상 ...,195
4,bravo 탬퍼 아시는 분 계신가요,아 너무 사고 싶은데 왜 한국으로 배송이 안된다는 걸까요 ㅠ어떻게 구매할 수 있을까요,202
...,...,...,...
629,이와키로 내린 커피,한 없는 기다림 후의 짧은 기쁨 기쁨을 되새김질하며 또다시 긴 기다림 인생과 커피는...,166
630,flowmeter에 위치선정,아침에 삽질한번하고 엄청나게 공부하고있네요 ㅎㅎㅎㅎㅎ 좋은 삽질인듯 플로우메터 위치...,280
631,퇴근길,기흥에서 일산까지 퇴근길 햄버거 생각나 간만에 녹사평역 근처 썬더버거 들러 버거 하...,198
632,서울공업사 왔다가는중 입니다,클리외님과 에소프릭님에 도움으로 알게되서 편하게 찾아갔네요사장님은 바로 알아체시더군...,245
633,안녕하세요,CAFE ESPRESSO 는홈바리스타와 홈카페에 관심있는 유저들의 모임입니다아래의...,11

In [111]:
df_lhw = pd.DataFrame(pd.read_csv("./data/renewal_dataset.csv").values, columns=['title', 'content', 'views'])
df_lhw = df_lhw.dropna(subset=['content'], axis = 0)
df_lhw = df_lhw.drop_duplicates(subset=['content'], keep='first').reset_index(drop=True)

In [112]:
df_lhw = df_lhw.loc[df_lhw['title'].str.find("견적") == -1].reset_index(drop=True)
df_lhw

           title                                            content views
0        오랜만에 출첵  저번주에 일본가서 얼굴꽝하고ㅠㅠ돌아왔어요 ㅋㅋ월에 시부모님 모시고 보라가요 어후 가...    46
1          반갑습니다                     조만간 보라카이 첫여행 갈 예정입미당잘부탁드려요         9
2          오늘의밥상  월계수와 로즈마리넣고닭을살짝담궜다가비계부분은 에프에돌리고가지와양파넣고소스맹글어서 ㅋ...    25
3          안녕하세요                            보라카이 여행하게되서가입했습니다안녕하세요      6
4    안녕하세요 반갑습니다     보라카이 여행준비하면서 가입하게 됐는데 정보가 어마무시해서 보는 재미도 있네요 ㅎ      6
..           ...                                                ...   ...
265  년 월일 선셋스냅사진  보자무싸 선셋방카에 참여해주신 여러분 진심으로 감사드립니다 저희는 작가도 아니고 사...   410
266        예약문의요                                 혹시 일에 호핑자리 잇나요 명이요    42
267  년 월일 호핑스냅사진  보자무싸 호핑투어에 참여해주신 여러분 진심으로 감사드립니다 저희는 작가도 아니고 사...   261
268     오늘의 보라카이                                요즘 이정도의 바다입니다한가합니다    660
269     등업부탁드립니다  등업기준은 게시글 개 댓글 개 입니다등업게시글에 본인이 직접 댓글을 다시면 등업 완...     1

[270 rows x 3 columns]

In [113]:
new_df = pd.concat([df, df_game, df_lhw, df_ssy]).reset_index(drop=True)
new_df

,title,content,views
0,출첵,출첵,7
1,출석합니다,출석합니다좋은밤 되세요,7
2,투명페인트는 뭘로 지워야할까요,붓펜 작업중 엉뚱한 곳에 묻어서굳었네요,79
3,전동 압분 한번 사봤습니다,거의 열흘 전에 택배 온거 같은데이제 꺼내보네요ㅋㅋㅋ 크기에 한번 놀라고 헤드 부...,340
4,역시 차는 광이 나야,무슨 차던 제대로 번쩍이는 차에 한 번 더 눈길이 갑니다ㅎㅎ유일하게 꾸준히 재밌게 ...,461
...,...,...,...
3030,이와키로 내린 커피,한 없는 기다림 후의 짧은 기쁨 기쁨을 되새김질하며 또다시 긴 기다림 인생과 커피는...,166
3031,flowmeter에 위치선정,아침에 삽질한번하고 엄청나게 공부하고있네요 ㅎㅎㅎㅎㅎ 좋은 삽질인듯 플로우메터 위치...,280
3032,퇴근길,기흥에서 일산까지 퇴근길 햄버거 생각나 간만에 녹사평역 근처 썬더버거 들러 버거 하...,198
3033,서울공업사 왔다가는중 입니다,클리외님과 에소프릭님에 도움으로 알게되서 편하게 찾아갔네요사장님은 바로 알아체시더군...,245
3034,안녕하세요,CAFE ESPRESSO 는홈바리스타와 홈카페에 관심있는 유저들의 모임입니다아래의...,11

In [114]:
new_df['views'] = new_df['views'].astype('string').str.replace(",", '')

In [115]:
new_df['views'] = new_df['views'].apply(lambda x : str(float(x.replace("만", "")) * 10000) if "만" in x else x)

In [116]:
new_df['views'] = new_df['views'].astype(float).astype(int)

In [117]:
new_df = new_df.dropna(subset=['content'], axis = 0).reset_index(drop = True)

### 데이터 전처리
1차에서 진행했던 방법과 동일하게 제목, 본문 내용에 모두 적용한다.

In [119]:
new_df.to_csv("./renew_dataset.csv", sep=",", index=False, encoding="utf8")

In [120]:
new_df['views'].mean()

298.2668863261944

In [121]:
df = pd.read_csv("./test.csv")
df

,title,content,views,label
0,출첵,출첵,7,0
1,출석합니다,출석합니다좋은밤 되세요,7,0
2,투명페인트는 뭘로 지워야할까요,붓펜 작업중 엉뚱한 곳에 묻어서굳었네요,79,0
3,전동 압분 한번 사봤습니다,거의 열흘 전에 택배 온거 같은데이제 꺼내보네요ㅋㅋㅋ 크기에 한번 놀라고 헤드 부...,340,1
4,역시 차는 광이 나야,무슨 차던 제대로 번쩍이는 차에 한 번 더 눈길이 갑니다ㅎㅎ유일하게 꾸준히 재밌게 ...,461,1
...,...,...,...,...
3030,이와키로 내린 커피,한 없는 기다림 후의 짧은 기쁨 기쁨을 되새김질하며 또다시 긴 기다림 인생과 커피는...,166,1
3031,flowmeter에 위치선정,아침에 삽질한번하고 엄청나게 공부하고있네요 ㅎㅎㅎㅎㅎ 좋은 삽질인듯 플로우메터 위치...,280,1
3032,퇴근길,기흥에서 일산까지 퇴근길 햄버거 생각나 간만에 녹사평역 근처 썬더버거 들러 버거 하...,198,1
3033,서울공업사 왔다가는중 입니다,클리외님과 에소프릭님에 도움으로 알게되서 편하게 찾아갔네요사장님은 바로 알아체시더군...,245,1
3034,안녕하세요,CAFE ESPRESSO 는홈바리스타와 홈카페에 관심있는 유저들의 모임입니다아래의...,11,0

In [122]:
df['label'].value_counts()

label
1    1521
0    1514
Name: count, dtype: int64

: